[submodule "HOME/.config/tmux"]
	path = dot-config/tmux
	url = https://github.com/khsoh/tmuxconf.git
[submodule "HOME/.config/nvim"]
	path = dot-config/nvim
	url = https://github.com/khsoh/kickstart.nvim.git
